@font-face {
    font-family: myFont;
    src: url(../Font.ttf);
}
*{
    font-family: myFont;
    padding: 0;
    margin: 0;
}
* button {
    cursor: pointer;
}
header .head {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #FFF8F3;
}
.logo h2 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;
}
h2 .r {
    color: #FD6E0A;
}

.menu-btn a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;

}
.menu-btn li {
    display: inline;
    margin-left: 51px;
}
.menu-btn button a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.menu-btn button {
    padding: 19px 35px;
    background-color: #FD6E0A;
    border: 0px;
    border-radius: 5px;
}

/* hero section  */

.hero-section {
    background-color: #FFF8F3;
    background-image: url(../hero-dev-portfolio-resources/images/developer.png), url(../hero-dev-portfolio-resources/images/header_bg.png) ;
    background-position: 200px, right bottom;
    background-repeat: no-repeat;
    background-size: 90px, 900px;
    display: flex;
    justify-content: end;
    padding-right: 38px;
}
.hero-section .hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 46px;
}
.hero-main .content .pera {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.hero-main .content h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}
.p {
    font-size: 18px;
    font-weight: 100;
    width: 700px; 
}
.hero-btn .download {
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 17px 15px 51px;
    margin-top: 20px;
}
.hero-btn a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
} 
.hero-btn .contact {
    border: 1px solid #FD6E0A;
    background-color: #c0878700;
    border-radius: 5px;
    font-size: 20px;
    padding: 14px 17px 15px 51px;
    margin-top: 20px;
    margin-left: 30px;
}
.hero-btn .contact a {
    color: #FD6E0A;
    font-weight: 700;
}

/* about section  */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 130px 230px 130px 230px;
}
.about-main {
    background-color: #FFF8F3;
    padding: 120px 156px;
    border-radius: 10px;
}
.About-child h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;margin-bottom: 35px;
}
.p-h3 p {
    font-size: 18px;
    font-weight: 200;
    width: 800px;
    margin-bottom: 30px;
    color: #757575;
}
.About-child .child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.About-child .child p {
        color: #757575;
        font-size: 20px;
        font-weight: 100;
}
.About-child .child h4 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}


/* what i do  */

.what-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.what-main h3 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.what-main .p {
    font-size: 18px;
    font-weight: 100;
    color: #757575;
    margin-bottom: 50px;
}
.what-card-main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.what-card-main .card {
    width: 267px;
    height: 377px;
    box-shadow: 10px 10px 50px rgba(5, 2, 2, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 200px;
    padding: 30px;
}
.what-card-main .card img {
    margin-bottom: 20px;
}

/* A summary of My Resume */

.resume-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 400px;
    padding: 0px 130px;

}
.box-parent .box {
    border: 1px solid;
}

.box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 24px;
}

/* A summary of My Resume */

.resume-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.education-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}
.education-main  {

}
.experience-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}